﻿@model IList<Blog.Core.Objects.Post>

<div class="sidebar">
    <h3>Latest Posts</h3>
    @if (Model.Count > 0)
    { 
        <ul>
            @foreach (var post in Model)
            { 
                <li>@Html.PostLink(post)</li>
            }
        </ul>
    }
            else 
        {
        <p>No Post Found!</p>
    }
</div>