﻿<!DOCTYPE html>
 
<html>
 
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
   
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css"
    href="@Url.Content("~/Content/themes/simple/style.css")" />

    <!--Javascripts-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>
</head>
 
<body>
  <div id="main">
 
    <!-- Header -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/">Sample MVC<span class="logo_colour">Blog</span></a></h1>
          <h2>Writings, Experiments and More...</h2>
        </div>
      </div>
 
      <!-- Navigation -->
      <div id="menubar">
        <ul id="menu">
            <li>@Html.ActionLink("Posts", "Posts")</li>
            <li>@Html.ActionLink("Contact", "Contact")</li>
            <li>@Html.ActionLink("About Me", "AboutMe")</li>
        </ul>
      </div>
 
    </div>

    <!-- Site Content -->
    <div id="site_content">
      @Html.Partial("_Search")
      @RenderBody()

      @* Call the child action to render the sidebar *@
      @Html.Action("Sidebars")
    </div>
 
     <!-- Footer -->
    <div id="footer">
      Copyright © @DateTime.Now.Year JustBlog All Rights Reserved
    </div>
  </div>
</body>
</html>