﻿@model Blog.Core.Objects.Post


<div class="post">
  <div class="post-meta">
    <div class="row">
 
      <!--Heading-->
      <div class="post-title">
        <h2>@Html.PostLink(Model)</h2>
      </div>
 
    </div>
 
    <div class="row">
 
      <!--Category-->
      <div class="post-category">
        <span>Category: </span>@Html.CategoryLink(Model.Category)
      </div>
 
      <!--Tags-->
      <div class="post-tags">
        <span>Tags:</span>@Helper.Tags(Html, Model.Tags)
      </div>
 
        <!--Posted date-->
        <div class="posted-date">
            @Model.PostedOn.ToConfigLocalTime()
        </div>
 
    </div>
 
  </div>
 
  <!--Short Description-->
  <div class="post-body">
    @Html.Raw(Model.ShortDescription)
  </div>
 
  <div class="post-foot">
    @Html.ActionLink("continue...", "post", "blog", 
        new 
        { 
            year = Model.PostedOn.Year, 
            month = Model.PostedOn.Month, 
            day = Model.PostedOn.Day, 
            title = Model.UrlSlug 
        }, 
        new { title = "continue..." }
    )
  </div>
</div>

