﻿@using (Html.BeginForm(
    "Search",
    "Blog",
    FormMethod.Get,
    new { id = "search-form" }))
{
    <p>
        @Html.TextBox("s")
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
}
    