﻿@model IList<Blog.Core.Objects.Tag>

<div class="tags sidebar">
    <h3>Tags</h3>

    @if (Model.Count > 0)
    {
        foreach (var tag in Model)
        { 
            @Html.TagLink(tag);
        }
    }
    else
    {
        <p>No tags found!</p>
    }


</div>